@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

* {
    margin: 0;
}

body {
    background-color: #fff;
    color: #000;
}

nav {
    width: 100vw;
}

h1 {
    font-family: 'Roboto', sans-serif;
}



#upperNav {
    background-color: #d8232a;
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    padding: 0px 20vw;
}

#upperNav>h1 {
    font-family: 'Ubuntu', sans-serif;

}

#upperNav>div>a {
    text-decoration: none;
    color: #fff;
    margin: 0px 10px;
    font-size: 15px;
    padding: 7px;
}

#upperNav>div>button {
    border: none;
    border-radius: 20px;
    padding: 7px 20px;
    background-color: #fff;
    color: #000;
}

#lowerNav {
    display: flex;
    gap: 20px;
    height: 40px;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.283);
    padding: 0px 20vw;
    justify-content: center;
}

#lowerNav>a {
    color: #000;
    font-size: 20px;
    text-decoration: none;
    margin: 0px 20px;
    font-family: 'Ubuntu', sans-serif;

    padding: 7px;
    border: 1px solid rgba(128, 128, 128, 0);

}





#searchNav {
    margin: 50px auto;
    margin-bottom: 15px;
    width: 40vw;
    justify-content: space-between;
}

#searchNav>a {
    text-decoration: none;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 12px;
    padding: 5px 10px;
}




#searchBox {
    width: 800px;
    border-radius: 50px;
    height: 50px;
    border: 2px solid rgba(128, 128, 128, 0.5);
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    padding: 0px 10px 0px 5px;
    box-shadow: 0px 5px 10px rgb(219, 216, 216);
}

#searchBox>input {
    font-size: 20px;
    border: none;
    border-right: 2px solid gray;
    outline: none;

}

#searchBox>input[type="number"] {
    width: 100px;
    border: none;
}

#searchBox>button {
    height: 90%;
    border-radius: 50px;
    padding: 0px 20px;
    border: none;
    background-color: #e8252b;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    margin: 0px;
}



#searchBox>i,
#searchBox>img {
    font-size: 20px;
    margin-left: 5px;
}


#content {
    margin: 100px 20vw;
    width: 60vw;

    font-family: 'Roboto', sans-serif;

}

#content>h2 {
    font-weight: 100;
    position: relative;
}

#content>h2::after {
    content: "";
    position: absolute;
    bottom: -7px;
    border: 3px solid var(--h3-color);
    width: 30px;
    border-radius: 5px;
    left: 0px;
    background-color: var(--h3-color);
}


#content>.PropertyServices {
    margin: 50px 0px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


#content>.PropertyServices>a {
    width: 220px;
    height: 170px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: all 0.7s ease-in-out;

}




#content>.PropertyServices>a>img {
    transform: scale(1);
    transition: all 0.6s ease-in-out;
}
#content>.PropertyServices>a {
    border: 1px solid rgba(128, 128, 128, 0.3);
}

#content>.PropertyServices>a>div {
    background-color: #fff;
    width: 100%;
    padding: 13px 0px;
    position: absolute;
    top: 90px;
}

#content>.PropertyServices>a>div>h3 {
    font-weight: bold;
    padding-left: 20px;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;

}

#content>.PropertyServices>a>div>p {
    font-size: 12px;
    margin: 10px 20px;
}

#searchNav>a:active,
#searchNav>a:hover {
    border-bottom: 3px solid red;
}

#lowerNav>a:hover,
#upperNav>div>a:hover {
    color: red;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid rgba(128, 128, 128, 0.283);
}

#upperNav>div>a:hover {
    background-color: #fff;
    border-radius: 10px;

}


#content>.PropertyServices>a:hover {
    box-shadow: 0px 0px 6px gray;
}


#content>.PropertyServices>a:hover img {
    transform: scale(1.1);
}

#searchBox>button:hover {
    background-color: #c31f25;
}


.pType {
    width: 170px;
}

.heading {
    text-align: center;
    margin-top: 100px;
    font-weight: 10;
    font-size: 30px;
}

.heading>.yTail {
    font-size: 1.5em;
    position: relative;
    top: 5px;
    margin-left: 10px;
}

.yTail {
    font-family: 'Yellowtail', cursive;
}
